/*main-panel*/
html{
    overflow-x: hidden;
}

body{
    margin: 0px;
    padding: 0px;
}

#Allpanel{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

#newby-header-var{
    background-color: white;
    width: 70%;
    height: 60px;
}

#newby-body-panel{
    width: 70%;
    min-height: 700px;
    height: auto;
    padding-left: 1px;
    
}        

#newby-footer{
    width: 70%;
    height: 60px;
}



/*main-headervar*/
.top-navigatorBar{ 
    /* width:60%; */
    height: 60px;
    margin: 0px;
    color: white;
    background: white;
    font-size: 13px;
}





/*main-navibar*/
#newby-logo{
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 40px
}

.top-nav{
    margin-left: 20px;
    vertical-align: middle;
    margin-bottom: 10px;
    display: table-cell;
}

.newby-header{
    display: table;
}

 
.top-nav a:link { color: darkgrey; text-decoration: none;}
.top-nav a:visited { color: darkgrey; text-decoration: none;}
.top-nav a:hover { color: darkgrey; background-color: white;}
.top-nav { color: darkgrey;}
