/*main-panel*/
html{
    overflow-x: hidden;
}

body{
    margin: 0px;
    padding: 0px;
}

#Allpanel{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}




/* header */
#newby-header-var{
    background-color: white;
    width: 70%;
    height: 60px;
}

.top-navigatorBar{ 
    /* width:60%; */
    height: 60px;
    margin: 0px;
    color: white;
    background: white;
    font-size: 13px;
}

#newby-logo{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 40px
}

#header-navibar23{
	width:100%;
	
}

.top-nav{
    margin-top: 20px;
    font-weight: bold;
}

.newby-header{
    display: flex;
}

 
.top-nav a:link { color: darkgrey; text-decoration: none;}
.top-nav a:visited { color: darkgrey; text-decoration: none;}
.top-nav a:hover { color: darkgrey; background-color: white;}
.top-nav { color: darkgrey;}


.divider1{
	margin: 5px 4px 0 9px;
    width: 1px;
    height: 11px;
    color : #ebeef3;
}


/* body */
#newby-body-panel{
    width: 70%;
    min-height: 700px;
    height: auto;
    padding-left: 1px;
}        




/* footer */
#newby-footer{
    width: 70%;
    height: 60px;
}




