                /* profile */
/* td */
.ttxtt1{
    font-size: 12pt;
}
/* 닉네임 수정란 */
#nickname1sdkl{
    border: none;
    font-size: 12pt;
}
  
/* 1열 */
.tline1{
    width:130px;
    font-weight: bold;  
}
/* 2열 */
.tline2{
    width: 350px;
}

/* 수정불가 폰트 */
.modiX14{
    color: rgb(155,155,155);
}


/* 수정 버튼 */
.modibtn1cw{
    background: rgb(9, 129, 241);
    color: white;
    border: none;
    height: 27px;
    width: 80px;
    border-radius: 10px;
    padding-bottom: 1.5px;
    padding-top: 3px;
}

/* pwd 나열 버튼 */
#pwdbtn1cke{
    cursor: pointer;
    text-decoration: underline;
    color:blue;
    font-size: 11pt;
}


/* pwd 수정 버튼 table */
.pwd1ds{
    display: inline-block;
    vertical-align: middle;
    font-size: 8pt;
    height: 16px;
}
  
/* pwd 수정 버튼 */
#pwdchdoeoc{
    font-size: 10pt;
    height: 20px;
    vertical-align: middle;
    padding-top: 1px;
}

/* Email 2열 */
#tline2Email{
    vertical-align: bottom;
}

/* 이메일 아이디 입력란 */
#userEmail1skw{
    width: 90px;
    height: 25px;
    padding: 0px;
    margin: 0px;
}

/* 이메일 주소 입력란 */
#emainAddr1sd{
    width: 100px;
    text-align: center;
    height: 25px;
    padding: 0px;
    margin: 0px;
}

/* 이메일 주소 선택 */
#select1sdknw{
    vertical-align: bottom;
    height: 30px;
    padding: 0px;
    margin: 0px;
}




