.complete1sd{
    color: rgb(155, 155, 155);
}

.modify1sd{
  background: rgb(9, 129, 241);
  color: white;
  border: none;
  height: 27px;
  width: 50px;
  border-radius: 15px;
  padding-bottom: 1.5px;
  padding-top: 2px;
}
.delete1sd{
  background: rgb(9, 129, 241);
  color: white;
  border: none;
  height: 27px;
  width: 50px;
  border-radius: 15px;
  padding-bottom: 1.5px;
  padding-top: 2px;
}